
.div-1{
      width: 22%;
      border-radius: 10px;
      padding: 15px;
      margin: 10px;
      border: 5px double black;
     }

h1{
    display: inline-block;
    background: black;
    color: white;
    padding: 10PX 20PX;
    border-radius: 10PX;
    text-align: center;
}
body{
    background-color:aquamarine ;
}